body{
    background: black;
    color: rgb(0, 255, 0);
    word-spacing: 9px;
}


header {
    border-bottom: solid 2px rgb(0,150, 136);
    padding: 40px;
    font-size:34px;
}

h2{
    margin: 38px;
}

section {
    padding-bottom:15px;
    color: rgb(159, 49, 235);
    background:rgb(48, 43, 39);
}

/*rgb(150, 35, 24))*/
