body{
    background: black;
    color: rgb(0, 255, 0);
    word-spacing: 9px;
    font-family: "Sorts Mill Goudy", serif;
    font-style: italic;
}


header {
    border-bottom: solid 2px rgb(0,150, 136);
    padding: 40px;
    font-size:34px;
}

.Tc{
    margin: 38px;
}

.Mo {
    padding-bottom:15px;
    color: rgb(159, 49, 235);
    background:rgb(48, 43, 39);
    display: flex;
    justify-content: center;
}

.Rh{
    display:flex;
    justify-content: center;
}

img{
    gap: 15px;
    height: 180px;
    margin-left: 50px;
}

.v{
    overflow-x: auto;
    display: flex;
}

.Nb{
    background: rgba(28, 1, 1, 0.911);
}

/*rgb(150, 35, 24)*/
