html{
    margin-bottom: 40px;
}

body{
    background: black;
    color: rgb(0, 255, 0);
    word-spacing: 9px;
    font-family: "Sorts Mill Goudy", serif;
    font-style: italic;
}


header {
    padding: 40px;
    font-size:34px;
}

.Tc{
    margin: 38px;
}

.Mo {
    padding-bottom:15px;
    color: rgb(144, 115, 248);
    background:rgb(48, 43, 39);
    display: flex;
    justify-content: center;
}

.Rh{
    display:flex;
    justify-content: center;
}

.Nb img{
    gap: 15px;
    height: 180px;
    margin-left: 50px;
    opacity: 0.6    ;
}  

.Nb h2{
    padding-left: 12px;
}

.-Pd img:hover{
    opacity: 1.0;
    height: 180px;
    border: 2px solid lightseagreen;
}

.-Pd{
    padding-left: 25px;
    padding-top: 10px;
    background: rgba(28, 1, 1, 0.911);
    overflow-x: auto;
    display: block;
}

.Zr{
    display: flex;
    gap: 8px;
    padding-left: 10px;
}

.Kr{
    border-bottom: solid 2px rgb(0,150, 136);
    display: flex;
}

.Kr img{
    height: 75px;
    translate: 900px; 
}
